/**
 * WPadmin custom theme
 *
 * @package RosarioSIS
 * @subpackage assets/themes
 */

/* Import WPadmin style (already includes colors.css & jscalendar & colorbox) */
@import url("base.css");

/* Replace the modules icons & set size to 36px instead of 32px */
.menu-top img,
#body h2 img {
	width: 36px;
	padding: 36px 0 0 0;
	height: 0;
	overflow: hidden;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

img[src="modules/Accounting/icon.png"] {
	background-image: url("modules3/Accounting.png");
}

img[src="modules/Attendance/icon.png"] {
	background-image: url("modules3/Attendance.png");
}

img[src="modules/Discipline/icon.png"] {
	background-image: url("modules3/Discipline.png");
}

img[src="modules/Grades/icon.png"] {
	background-image: url("modules3/Grades.png");
}

img[src="modules/Eligibility/icon.png"] {
	background-image: url("modules3/Eligibility.png");
}

img[src="modules/Example/icon.png"] {
	background-image: url("modules3/Example.png");
}

img[src="modules/Food_Service/icon.png"] {
	background-image: url("modules3/Food_Service.png");
}

img[src="modules/Messaging/icon.png"] {
	background-image: url("modules3/Messaging.png");
}

img[src="modules/misc/icon.png"] {
	background-image: url("modules3/misc.png");
}

img[src="modules/Resources/icon.png"] {
	background-image: url("modules3/Resources.png");
}

img[src="modules/Reports/icon.png"] {
	background-image: url("modules3/Reports.png");
}

img[src="modules/Scheduling/icon.png"] {
	background-image: url("modules3/Scheduling.png");
}

img[src="modules/School_Setup/icon.png"] {
	background-image: url("modules3/School_Setup.png");
}

img[src="modules/Student_Billing/icon.png"] {
	background-image: url("modules3/Student_Billing.png");
}

img[src="modules/Students/icon.png"] {
	background-image: url("modules3/Students.png");
}

img[src="modules/Users/icon.png"] {
	background-image: url("modules3/Users.png");
}


/* Spinner */
.loading {
	background-image: url(spinning.gif);
}

/* Login page background photo */
body.login {
	background-image: url('background/practical-knowledge.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	min-height: calc( 100% - 84px );
}
